<h2 class="edit-amplifier-title">Edit Amplifier</h2>

<div class="new-amp-form">
  <%= render 'shared/form', user: @user, amplifier: @amplifier %>
</div>

<div class="layout-pic">
  <%= image_tag("eh_125_interior.JPG") %>
</div>
