<body class="featured-image">

<h2 class="new-amp-title">New Amplifier</h2>

<%= render 'shared/form', user: @user, amplifier: @amplifier %>

<div class="layout-pic">
  <%= image_tag("eh_125_interior.JPG") %>
</div>

</body>
